.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 20px;
}

.title {
  font-size: 100px;
  color: #780096;
}

.text {
  text-align: center;
}

.link {
  padding: 12px 24px;
  color: #780096;
  border-radius: 32px;
  border: 1px solid #780096;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #fff;
    background: #9200b7;
  }
  &:focus-visible {
    outline: 1px solid #c0f;
  }
  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
